// Custom styles for Raghav's Portfolio
// Make the sidebar drawer-based on ALL screen sizes (not fixed on desktop)

// Override the fixed sidebar behavior on desktop
// This makes the sidebar behave like a drawer (hidden until opened) on all screens
@media screen and (min-width: 64em) {
  // Reset the fixed positioning - let hy-drawer handle it
  hy-drawer:not(.cover) {
    position: relative;
    width: 100%;
    
    // The drawer should start off-screen
    &:not([opened]) .sidebar {
      transform: translateX(-100%);
    }
  }
  
  // Remove the left margin from content since sidebar won't be fixed
  .content {
    margin-left: auto;
  }
  
  // Remove the sidebar background bar from body
  body::before {
    display: none;
  }
}

@media screen and (min-width: 86em) {
  .content {
    margin-left: auto;
  }
}

@media screen and (min-width: 104rem) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
  
  // Also hide the body::before pseudo-element that creates the sidebar background
  body::before {
    display: none;
  }
}
